<script src="{{ 'product.js' | asset_url }}" defer="defer"></script>
<product-variants class="" data-url="{{ product.url | within: collection }}" {{ block.shopify_attributes }}>
  {%- for option in product.options_with_values -%}
    <div class="product-variant-item">
      <div class="product-variant-title"
        {%- if product.has_only_default_variant -%}
          style="display:none"
        {%- elsif variants > 1 -%}
          style="display:block"
        {%- endif -%}>
        <label class="choose" for="Option-{{ forloop.index0 }}">
          {{ option.name | upcase }}
        </label>
      </div>

      {% if product.has_only_default_variant %}
        <div class="unique-size">UNIQUE</div>
      {% endif %}

      {% if variants > 1 %}
        <select id="Option-{{ forloop.index0 }}" name="options[{{ option.name }}]" class="product-variant-select">
          {%- for value in option.values -%}
            <option value="{{ value | escape }}"
              {% if option.selected_value == value %}selected{% endif %}>
              {{ value }}
            </option>
          {%- endfor -%}
        </select>
      {% endif %}
    </div>
  {%- endfor -%}

  <script type="application/json">
    {{ product.variants | json }}
  </script>
</product-variants>
