<div class="article-content">
  {% for block in section.blocks %}
    {% case block.type %}

      {% when "gallery" %}
        <div class="gallery">
          {% for image in block.settings.images %}
            <img src="{{ image | image_url: '800x' }}" alt="{{ image.alt | escape }}">
          {% endfor %}
        </div>

      {% when "issue" %}
        <h2 class="issue">{{ block.settings.text }}</h2>

      {% when "credits" %}
        <p class="credits">{{ block.settings.text }}</p>

      {% when "info" %}
        <div class="description">{{ block.settings.text }}</div>

      {% when "title" %}
        <div class="description">{{ block.settings.text }}</div>

    {% endcase %}
  {% endfor %}
</div>
<style>
  body{
    background-color:black;
  }

</style> 
{% schema %}
{
  "name": "Article Content",
  "max_blocks": 20,
  "blocks": [
    {
      "type": "issue",
      "name": "Issue",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Título"
        }
      ]
    },
    {
      "type": "credits",
      "name": "Credits",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Créditos"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Title"
        }
      ]
    },
    {
      "type": "info",
      "name": "Description",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Información adicional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Article Content",
      "blocks": [
        { "type": "issue" },
        { "type": "credits" },
        { "type": "info" },
        { "type": "title" }
      ]
    }
  ]
}
{% endschema %}
