<div class="article-content">
  {% for block in section.blocks %}
    {% case block.type %}

      {% when "gallery" %}
        <div class="gallery">
          {% for image in block.settings.images %}
            <img src="{{ image | image_url: '800x' }}" alt="{{ image.alt | escape }}">
          {% endfor %}
        </div>

      {% when "title" %}
        <h2 class="title">{{ block.settings.text }}</h2>

      {% when "credits" %}
        <p class="credits">{{ block.settings.text }}</p>

      {% when "info" %}
        <div class="info">{{ block.settings.text }}</div>

      {% when "extra" %}
        <div class="extra">{{ block.settings.text }}</div>

    {% endcase %}
  {% endfor %}
</div>
{% schema %}
{
  "name": "Article Content",
  "max_blocks": 20,
  "blocks": [
    {
      "type": "title",
      "name": "Issue",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Título"
        }
      ]
    },
    {
      "type": "credits",
      "name": "Credits",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Créditos"
        }
      ]
    },
    {
      "type": "info",
      "name": "Description",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Información adicional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Article Content",
      "blocks": [
        { "type": "title" },
        { "type": "credits" },
        { "type": "info" }
      ]
    }
  ]
}
{% endschema %}
