<div class="article-content" id="article-content">
  
  {% if article.metafields.custom.title.value != blank %}
    <h2 class="title">{{ article.metafields.custom.title.value }}</h2>
  {% endif %}

  {% if article.metafields.custom.description.value != blank %}
    <div class="description">{{ article.metafields.custom.description.value }}</div>
  {% endif %}

  {% if article.metafields.custom.credits.value != blank %}
    <div class="credits">{{ article.metafields.custom.credits.value }}</div>
  {% endif %}

  {% if article.metafields.custom.Interview.value != blank %}
    <div class="interview">{{ article.metafields.custom.Interview.value }}</div>
  {% endif %}

  {% assign related_products = article.metafields.custom.related.value %}
  {% if related_products != blank %}
    <div class="related-products">
      <div>YOU MIGHT ALSO LIKE</div>
      <ul>
        {% for product in related_products %}
          <li>
            <a href="{{ product.online_store_url }}">
              {% if product.featured_image %}
                <img src="{{ product.featured_image | img_url: '300x300' }}" alt="{{ product.title }}">
              {% endif %}
              <p>{{ product.title }}</p>
              {% if product.price %}
                <p>{{ product.price | money }}</p>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% assign gallery = article.metafields.custom.gallery.value %}
  {% if gallery != blank %}
    <div class="gallery">
      <h3>Galería</h3>
      {% for image in gallery %}
        <img src="{{ image | img_url: '600x600' }}" alt="">
      {% endfor %}
    </div>
  {% endif %}

  <div class="credits-open">CREDITS</div>
  <div class="close-up">CLOSE</div>
</div>

<style>
  body{
    background-color:black;
  }
</style> 
