<section class="articles-block">
    {% for block in section.blocks %}
      {% if block.type == 'custom_article' and block.settings.article %}
        {% assign article = articles[block.settings.article] %}
        <div class="article-card">
          <div class="title-thang">
            <div>{{ article.title }}</div> 
          </div>
          <a href="{{ article.url }}">
            {% if block.settings.image %}
              <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ article.title }}">
            {% elsif article.image %}
              <img src="{{ article.image | img_url: 'master' }}" alt="{{ article.title }}">
            {% endif %}
          </a>
          <p class="content-article-home">{{ article.content | strip_html | truncate: 300 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </section>
  
  {% schema %}
  {
    "name": "Articles Block",
    "tag": "section",
    "class": "section-articles",
    "settings": [],
    "blocks": [
      {
        "type": "custom_article",
        "name": "Article",
        "settings": [
          {
            "type": "article",
            "id": "article",
            "label": "Article"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
  {% endschema %}
  