{% for block in section.blocks %}
  {% case block.type %}
    {% when 'hero' %}
      {% assign hover = block.settings.hover_image_1 %}
      {% assign video = block.settings.video_url_1 %}
      {% assign ext = video | split: '.' | last | downcase %}
      
      <section class="hero image-hover-wrapper">
        {% if block.settings.hero_image %}
          <img class="main-img" src="{{ block.settings.hero_image | img_url: 'master' }}" alt="Hero Image">
        {% endif %}
        {% if video %}
          {% if ext == 'mp4' %}
            <video class="hover-media" autoplay muted loop playsinline>
              <source src="{{ video }}" type="video/mp4">
            </video>
          {% endif %}
        {% elsif hover != blank %}
          <img class="hover-media" src="{{ hover | img_url: 'master' }}" alt="Hover Hero">
        {% endif %}
        <div class="aim">{{ block.settings.hero_text }}</div>
      </section>
      <div class="info-hero">{{ block.settings.info }}</div>

  {% when 'single_product' %}
  {% assign product = all_products[block.settings.product] %}
  {% assign full_screen = block.settings.fullscreen %}

  <section class="single-product{% if full_screen %} full-screen{% endif %}">
    {% if product %}
      <div class="product-title-section">
        <div>{{ product.title }}</div>
        <a href="{{ product.url }}">View Product</a>
      </div>
      {% if block.settings.custom_image %}
        <img src="{{ block.settings.custom_image | img_url: 'master' }}" alt="Custom Image">
      {% else %}
        <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
      {% endif %}
    {% endif %}
  </section>
{% when 'articles' %}
  <section class="blockers">

    {% if block.settings.article_1 %}
      {% assign article = articles[block.settings.article_1] %}
      {% assign hover_1 = block.settings.article_1_media_hover %}
      {% if hover_1 %}
        {% assign ext_1 = hover_1 | split: '.' | last | downcase %}
      {% endif %}

      <div class="block-hero">
        <div class="title-thang">
          <div>{{ article.title }}</div>
        </div>
        <a href="{{ article.url }}" class="image-hover-wrapper">
          {% if block.settings.article_1_image %}
            <img class="main-img" src="{{ block.settings.article_1_image | img_url: 'master' }}" alt="{{ article.title }}">
          {% elsif article.image %}
            <img class="main-img" src="{{ article.image | img_url: 'master' }}" alt="{{ article.title }}">
          {% endif %}

          
          {% if hover_1 %}
            {% if ext_1 == 'mp4' %}
              <video class="hover-media" autoplay muted loop playsinline>
                <source src="{{ hover_1 }}" type="video/mp4">
              </video>
            {% else %}
              <img class="hover-media" src="{{ hover_1 }}" alt="{{ article.title }}">
            {% endif %}
          {% endif %}
        </a>

        {% if block.settings.article_1_custom_text != blank %}
          <div class="custom-text-article">
            {{ block.settings.article_1_custom_text }}
          </div>
        {% endif %}
      </div>
    {% endif %}


    {% if block.settings.article_2 %}
      {% assign article2 = articles[block.settings.article_2] %}
      {% assign hover_2 = block.settings.article_2_media_hover %}
      {% if hover_2 %}
        {% assign ext_2 = hover_2 | split: '.' | last | downcase %}
      {% endif %}

      <div class="article-card">
        <div class="title-thang">
          <div>{{ article2.title }}</div>
        </div>

        <a href="{{ article2.url }}" class="image-hover-wrapper">
          {% if block.settings.custom_image %}
            <img class="main-img" src="{{ block.settings.custom_image | img_url: 'master' }}" alt="{{ article2.title }}">
          {% elsif article2.image %}
            <img class="main-img" src="{{ article2.image | img_url: 'master' }}" alt="{{ article2.title }}">
          {% endif %}

          {% if hover_2 %}
            {% if ext_2 == 'mp4' %}
              <video class="hover-media" autoplay muted loop playsinline>
                <source src="{{ hover_2 }}" type="video/mp4">
              </video>
            {% else %}
              <img class="hover-media" src="{{ hover_2 }}" alt="{{ article2.title }}">
            {% endif %}
          {% endif %}
        </a>

        {% if block.settings.article_2_custom_text != blank %}
          <div class="custom-text-article">
            {{ block.settings.article_2_custom_text }}
          </div>
        {% endif %}
      </div>
    {% endif %}

  </section>


{% when 'six_products_with_bg' %}
  <section class="six-products-with-bg">
    <img src="{{block.settings.bg_image| img_url: 'master' }}" alt="Custom Image">
    <div class="products-list">
      {% assign letters = "A,B,C,D,E,F" | split: "," %}
      {% for i in (1..6) %}
        {% assign product_key = "product_" | append: i %}
        {% assign product = all_products[block.settings[product_key]] %}
        {% if product %}
          <div class="product-item">
            <span class="product-letter">{{ letters[forloop.index0] }}</span>
            <a class="product-title" href="{{ product.url }}">{{ product.title }}</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% when 'two_products' %}
    <section class="two-products">
      {% assign product1 = all_products[block.settings.product_1] %}
      {% assign product2 = all_products[block.settings.product_2] %}
      {% assign hover1 = block.settings.hover_image_1 %}
      {% assign hover2 = block.settings.hover_image_2 %}
      {% assign video1 = block.settings.video_url_1 %}
      {% assign video2 = block.settings.video_url_2 %}
      
      {% if product1 %}
        {% assign variant1 = product1.variants.first %}
        {% assign ext1 = video1 | split: '.' | last | downcase %}
        <a class="product estandard image-hover-wrapper" href="{{ product1.url }}">
          {% unless variant1.available %}
            <button class="sold-out-button" disabled>Sold Out</button>
          {% endunless %}
          {% if product1.featured_image %}
            <img class="main-img" src="{{ product1.featured_image | img_url: 'master' }}" alt="{{ product1.title }}">
          {% endif %}
  
          {% if video1 %}
            {% if ext1 == 'mp4' %}
              <video class="hover-media" autoplay muted loop playsinline>
                <source src="{{ video1 }}" type="video/mp4">
              </video>
            {% endif %}
          {% elsif hover1 != blank %}
            <img class="hover-media" src="{{ hover1 | img_url: 'master' }}" alt="Hover {{ product1.title }}">
          {% endif %}
          <div class="product-price-white">
            <div class="product-title title-thang">
              {{ product1.title }}<br>

              {{ variant1.price | money }}
            </div>
         
          </div>
        </a>
  
     
      {% endif %}
  
      {% if product2 %}
        {% assign variant2 = product2.variants.first %}
        {% assign ext2 = video2 | split: '.' | last | downcase %}
        <a class="product estandard image-hover-wrapper" href="{{ product2.url }}">
          <div style="position:relative">
          {% if product2.featured_image %}
         
              <img class="main-img" src="{{ product2.featured_image | img_url: 'master' }}" alt="{{ product2.title }}">
              {% unless variant2.available %}
                <button class="sold-out-button" disabled>Sold Out</button>
              {% endunless %}
           
          {% endif %}
  
          {% if video2 %}
            {% if ext2 == 'mp4' %}
              <video class="hover-media" autoplay muted loop playsinline>
                <source src="{{ video2 }}" type="video/mp4">
              </video>
            {% endif %}
          {% elsif hover2 != blank %}
            <img class="hover-media" src="{{ hover2 | img_url: 'master' }}" alt="Hover {{ product2.title }}">
          {% endif %}
        </div>
          <div class="product-price-white">
            <div class="product-title title-thang">
              {{ product1.title }}<br>
              
              {{ variant1.price | money }}
            </div>
         
          </div>
        </a>
      {% endif %}
    </section>
  
  {% endcase %}
{% endfor %}
{% schema %}
{
  "name": "Home",
  "settings": [],
  "blocks": [
    {
      "type": "hero",
      "name": "Hero Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "hero_image",
          "label": "Hero Image"
        },
        {
          "type": "image_picker",
          "id": "hover_image_1",
          "label": "First Product Hover"
        },
        {
          "type": "url",
          "id": "goto",
          "label": "URL"
        },
        {
          "type": "url",
          "id": "video_url_1",
          "label": "First Product Video URL"
        },
        {
          "type": "richtext",
          "id": "hero_text",
          "label": "Hero Text"
        },
        {
          "type": "richtext",
          "id": "info",
          "label": "Info Text"
        }
      ]
    },
    {
      "type": "single_product",
      "name": "Single Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select a Product"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom Product Image"
        },
        {
          "type": "checkbox",
          "id": "fullscreen",
          "label": "Full Screen Mode"
        }
      ]
    },
    {
      "type": "two_products",
      "name": "Two Products",
      "settings": [
        {
          "type": "product",
          "id": "product_1",
          "label": "First Product"
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Second Product"
        },
        {
          "type": "image_picker",
          "id": "hover_image_1",
          "label": "First Product Hover"
        },
        {
          "type": "url",
          "id": "video_url_1",
          "label": "First Product Video URL"
        },
        {
          "type": "image_picker",
          "id": "hover_image_2",
          "label": "Second Product Hover"
        },
        {
          "type": "url",
          "id": "video_url_2",
          "label": "Second Product Video URL"
        }
      ]
    },
    {
      "type": "six_products_with_bg",
      "name": "Multiple Products",
      "settings": [
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Product 1"
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Product 2"
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "Product 3"
        },
        {
          "type": "product",
          "id": "product_4",
          "label": "Product 4"
        },
        {
          "type": "product",
          "id": "product_5",
          "label": "Product 5"
        },
        {
          "type": "product",
          "id": "product_6",
          "label": "Product 6"
        }
      ]
    },
    {
      "type": "articles",
      "name": "Articles Block",
      "settings": [
        {
          "type": "article",
          "id": "article_1",
          "label": "Article 1"
        },
        {
          "type": "image_picker",
          "id": "article_1_image",
          "label": "Article 1 Image"
        },
        {
          "type": "url",
          "id": "article_1_media_hover",
          "label": "Article 1 Hover Video/Image URL"
        },
        {
          "type": "textarea",
          "id": "article_1_custom_text",
          "label": "Article 1 Custom Text"
        },
         {
          "type": "article",
          "id": "article_2",
          "label": "Article 2"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom Product Image"
        },
        {
          "type": "url",
          "id": "article_2_media_hover",
          "label": "Article 2 Hover Video/Image URL"
        },
        {
          "type": "textarea",
          "id": "article_2_custom_text",
          "label": "Article 2 Custom Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home",
      "blocks": [
        { "type": "hero" },
        { "type": "single_product" },
        { "type": "two_products" },
        { "type": "articles" }
      ]
    }
  ]
}
{% endschema %}

