{% if article.metafields.custom.interview != blank %}
  <div class="interview">
    {{ article.metafields.custom.interview | metafield_tag }}
  </div>
{% endif %}
{% assign related_handles = article.metafields.custom.related.value %}
{% if related_handles != blank %}
  <div class="related-products">
    <div class="related-title">YOU MIGHT ALSO LIKE</div>
    {% for handle in related_handles %}
      {% assign product = all_products[handle.handle] %}
      {% if product %}
        <div class="product estandard">
          <a href="{{ product.online_store_url }}">
            {% if product.featured_image %}
              <img src="{{ product.featured_image | img_url: '300x300' }}" alt="Image of {{ product.title }}">
            {% endif %}
          </a>
          <div class="product-title title-thang">
            <p>{{ product.title }}</p>
            {% if product.price %}
              <p>{{ product.price | money }}</p>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

