{% if article.metafields.custom.interview != blank %}
  <div class="interview">
    {{ article.metafields.custom.interview | metafield_tag }}
  </div>
{% endif %}
{% assign all_articles = blog.articles %}
{% assign filtered_articles = '' | split: ',' %}

{% for a in all_articles %}
  {% unless a.id == article.id %}
    {% assign filtered_articles = filtered_articles | push: a %}
  {% endunless %}
{% endfor %}

{% assign shuffled_articles = filtered_articles | shuffle %}
{% assign related_articles = shuffled_articles | slice: 0, 3 %}

{% if related_articles.size > 0 %}
  <div class="related-articles">
    <div class="related-title">YOU MIGHT ALSO LIKE</div>
    {% for related in related_articles %}
      <div class="article estandard">
        <a href="{{ related.url }}">
          {% if related.image %}
            <img src="{{ related.image | img_url: '800x' }}" alt="{{ related.title }}">
          {% endif %}
        </a>
        <div class="article-title title-thang">
          <p>{{ related.title }}</p>
          <p>{{ related.published_at | date: "%B %d, %Y" }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}


