{% if article.metafields.custom.Interview.value != blank %}
  <div class="interview">{{ article.metafields.custom.Interview.value }}</div>
{% endif %}

{% assign related_products = article.metafields.custom.related.value %}
{% if related_products != blank %}
  <div class="related-products">
    <div class="grid-column:span 2">YOU MIGHT ALSO LIKE</div>
      {% for product in related_products %}
        <div class="product">
          <a href="{{ product.online_store_url }}">
            {% if product.featured_image %}
              <img src="{{ product.featured_image | img_url: '300x300' }}" alt="{{ product.title }}">
            {% endif %}
          </a>
          <diV class="product-title title-thang"></div>
          <p>{{ product.title }}</p>
          {% if product.price %}
            <p>{{ product.price | money }}</p>
          {% endif %}
        </div> 
      {% endfor %}
  </div>
{% endif %}