{% if article.metafields.custom.interview != blank %}
  <div class="interview">
    {{ article.metafields.custom.interview | metafield_tag }}
  </div>
{% endif %}
{% assign all_articles = blog.articles | shuffle %}
{% assign count = 0 %}

{% if all_articles.size > 1 %}
  <div class="related">
    <div class="related-title">YOU MIGHT ALSO LIKE</div>

    {% for a in all_articles %}
      {% if a.id != article.id %}
        <div class="article estandard">
          <a href="{{ a.url }}">
            {% if a.image %}
              <img src="{{ a.image | img_url: '800x' }}" alt="{{ a.title }}">
            {% endif %}
          </a>
          <div class="article-title title-thang">
            <p>{{ a.title }}</p>
            <p>{{ a.published_at | date: "%B %d, %Y" }}</p>
          </div>
        </div>
        {% assign count = count | plus: 1 %}
        {% if count == 3 %}
          {% break %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}


