
<div class="head-product">



{% if product.description != blank %}
  <div class="info-hero">
    {{ product.description }}
  </div>
{% endif %}
</div>

<div id="main-product" class="main" data-section-id="{{ section.id }}" data-product-section>
  <div class="gallery">
    <div class="gallery">
      {% for media in product.media %}
        {% case media.media_type %}
          {% when 'video' %}
            <div class="swiper-slide">
              {{ media | video_tag: loop: true, autoplay: true, muted: true }}
            </div>
          {% when 'image' %}
            <div class="swiper-slide">
              <img 
                class="lazy" 
                src="{{ media | product_img_url: 'thumb' }}" 
                data-src="{{ media | product_img_url: 'master' }}" 
                alt="{{ media.alt }}" 
              />
            </div>
        {% endcase %}
      {% endfor %}
    </div>


  




    
  </div>
  
  <!--INFO-BUY-->
  <div class="buy-block">
    <div class="product-price">
      <div class="title-page">{{ product.title }}</div>
      {% if product.available %}
        {% if product.price_varies %}
          <span>{{ product.price_min | money }}</span> – <span>{{ product.price_max | money }}</span>
        {% else %}
          {% if product.compare_at_price > product.price %}
            <s>{{ product.compare_at_price | money }}</s>
            <span class="disscount">{{ product.price | money }}</span>
          {% else %}
            <span>{{ product.price | money }}</span>
          {% endif %}
        {% endif %}
      {% else %}
        <span>{{ product.price | money }}</span>
      {% endif %}
    </div>
    
    <!--PRODUCT INFO-->
    {%- assign productFormId = 'product-form-' | append: section.id -%}
    {%- form "product", product, id: productFormId, class: '' -%}
    <input type="hidden" name="product-id" value="{{- product.id -}}">
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

    <div id="bag" class="bag
      {% if product.compare_at_price > product.price %}
      sale
      {% endif %}
      {% unless product.available %}
      sold
      {% endunless %}
    ">


 

      <!-- Variations Dropdown -->
      {% render 'product-variants', product: product, formID: productFormId %}

      <div class="variations">
    

        <!-- Button Add To Bag -->
        {% liquid
          assign selectedVariant = product.selected_or_first_available_variant
          if selectedVariant.available
            assign addToCartText = 'ADD TO BAG'
          else
            assign addToCartText = 'SOLD OUT'
          endif
        %}
        <button id="add-to-bag" {% unless product.available %}disabled{% endunless %} type="submit" name="add" data-add-to-cart>
          <span class="" data-add-to-cart-text>
            {{ addToCartText }}
          </span>
        </button>

       
        {% assign product_qty = 0 %}
        {% for variant in product.variants %}
          {% if variant.inventory_quantity > 0 %}
            {% assign product_qty = product_qty | plus: variant.inventory_quantity %}
          {% endif %}
        {% endfor %}

      
      </div>

    </div>
    {% endform %}
    {% if product.metafields.custom.logo != blank %}
      <div class="custom-image">
        <img src="{{ product.metafields.custom.logo | img_url: '800x800' }}" alt="Imagen personalizada">
        <div class="more-info"> 
          <a class="text" href="">(READ MORE)</a><br>
          <div class="contributors">{{ product.metafields.custom.info | metafield_tag }} </div>
      </div>
      </div>
    {% endif %}
</div>







</div>
{% assign info = product.metafields.custom.description | default: '' %}
{% assign contributors = product.metafields.custom.contributors | default: '' %}
<div class="desplegable" id="info-product">
{% if info != blank %}

  <div class="description">
    {{ product.metafields.custom.description | metafield_tag }}
  </div>

{% endif %}
{% if contributors != blank %}

  <div class="contributors">
    {{ product.metafields.custom.contributors | metafield_tag }}
  </div>

{% endif %}
</div>
{% assign related_products = product.metafields.custom.related.value %}
{% if related_products != blank %}
  <div class="related-products">
    <div class="related-title" style="grid-column:span 2">YOU MIGHT ALSO LIKE</div>
      {% for product in related_products %}
        <div class="product">
          <a href="{{ product.online_store_url }}">
            {% if product.featured_image %}
              <img src="{{ product.featured_image | img_url: '300x300' }}" alt="{{ product.title }}">
            {% endif %}
          </a>
          <diV class="product-title title-thang">
            <p>{{ product.title }}</p>
            {% if product.price %}
              <p>{{ product.price | money }}</p>
            {% endif %}
          </div>
        </div> 
      {% endfor %}
  </div>
{% endif %}
<script>
$(document).ready(function () {
  var swiper = new Swiper('.swiper-gallery', {
    loop: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    }
  });
});
</script>