{% schema %}
{
  "name": "Related Products",
  "settings": [],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "label": "Select a related product",
          "id": "product"  // Adding an ID for the setting field
        }
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "Related Products"
    }
  ]
}
{% endschema %}


<div class="related-products" id="products">
    <div class="title-related">YOU MIGHT ALSO LIKE</div>
      {% for block in section.blocks %}
        {% assign related_product = all_products[block.settings.product] %}
        {% if related_product %}
          <div class="product">
            <div class="title-thang">
                <div>{{ related_product.title }}</div>
                <p>{{ related_product.price | money }}</p>
            </div>
            <a href="{{ related_product.url }}">
                {% if related_product.featured_image %}
                    <img src="{{ related_product.featured_image | img_url: 'master' }}" alt="{{ related_product.title }}">
                  {% else %}
                    <p>No image available</p>
                  {% endif %}
            </a>
          
          </div>
        {% else %}
          <p>No related product found.</p>  <!-- This will show if the related product isn't found -->
        {% endif %}
      {% endfor %}
  </div>
  