{% schema %}
{
  "name": "Products",
  "settings": [],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        },
        {
          "type": "checkbox",
          "id": "half",
          "label": "Half"
        },
        {
          "type": "image_picker",
          "id": "hover_image",
          "label": "Hover Image"
        },
        {
          "type": "url",
          "id": "video_url",
          "label": "Video URL (optional)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Products"
    }
  ]
}
{% endschema %}
<div class="products" id="products">
  {% for block in section.blocks %}
    {% assign selected = block.settings.product %}
    {% if selected %}
      {% assign handle = selected.handle %}
      {% assign product = all_products[handle] %}
      {% assign variant = product.variants.first %}
      {% assign hover = block.settings.hover_image | default: '' %}
      {% assign video_url = block.settings.video_url %}
      {% assign ext = video_url | split: '.' | last | downcase %}
  
      <div class="product {% if block.settings.half %}half{% endif %}">


    

        <a href="{{ product.url }}" class="image-hover-wrapper">
          {% unless variant.available %}
            <button class="sold-out-button" disabled>Sold Out</button>
          {% endunless %}
          {% if product.featured_image %}
            <img class="main-img" src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
          {% endif %}
        
          {% if video_url %}
            {% assign ext = video_url | split: '.' | last | downcase %}
            {% if ext == 'mp4' %}
              <video class="hover-media" autoplay muted loop playsinline>
                <source src="{{ video_url }}" type="video/mp4">
              </video>
            {% endif %}
          {% elsif hover != blank %}
            <img class="hover-media" src="{{ hover | img_url: 'master' }}" alt="Hover {{ product.title }}">
          {% endif %}
        </a>
        <div class="title-thang">
          <div>{{ product.title }}</div>

          {% if variant.compare_at_price > variant.price %}
            <p>
              <span class="price-original" style="text-decoration: line-through; color: #999;">
                {{ variant.compare_at_price | money }}</span>
              <span class="price-sale" style="color: red;">{{ variant.price | money }}</span>
            </p>
          {% endif %}
          <div class="product-price-white">{{ variant.price | money }}</div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>


  