{% schema %}
{
  "name": "Products",
  "settings": [],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "label": "Select a related product",
          "id": "product"  // Adding an ID for the setting field
        },
        {
          "type": "checkbox",
          "id": "half",
          "label": "Half"
        }
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "Products"
    }
  ]
}
{% endschema %}
<div class="products" id="products">
  {% for block in section.blocks %}
    {% assign related_product = all_products[block.settings.product] %}
    {% if related_product %}
      <div class="product {% if block.settings.half %}half{% endif %}">
        <div class="title-thang">
          <div>{{ related_product.title }}</div>
          {% assign first_variant = related_product.variants.first %}
          {% if first_variant.compare_at_price and first_variant.compare_at_price > first_variant.price %}
            <p>
              <span class="price-original" style="text-decoration: line-through; color: #999;">
                {{ first_variant.compare_at_price | money }}
              </span>
              <span class="price-sale" style="color: red; font-weight: bold;">
                {{ first_variant.price | money }}
              </span>
            </p>
          {% else %}
            <p>{{ first_variant.price | money }}</p>
          {% endif %}
          {% if related_product.available == false %}
            <p class="sold-out">Sold Out</p>
          
          {% elsif related_product.compare_at_price > related_product.price %}
            <p>
              <span class="price-original" style="text-decoration: line-through; color: #999;">
                {{ related_product.compare_at_price | money }}
              </span>
              <span class="price-sale" style="color: red; font-weight: bold;">
                {{ related_product.price | money }}
              </span>
            </p>

          {% else %}
            <p>{{ related_product.price | money }}</p>
          {% endif %}
        </div>

        <a href="{{ related_product.url }}">
          {% if related_product.featured_image %}
            <img src="{{ related_product.featured_image | img_url: 'master' }}" alt="{{ related_product.title }}">
          {% endif %}
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>

  