<div class="swiper-home">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide">
        {% if section.settings.goto != blank %}
          <a href="{{ section.settings.goto }}">
            <img src="{{ block.settings.image | img_url: '1024x1024' }}" alt="{{ block.settings.alt_text }}">
          </a>
        {% else %}
          <img src="{{ block.settings.image | img_url: '1024x1024' }}" alt="{{ block.settings.alt_text }}">
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</div>

{% schema %}
{
  "name": "slider",
  "settings": [
    {
      "type": "url",
      "id": "goto",
      "label": "URL Global (al hacer clic en cualquier slide)"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Imagen del Slider",
      "settings": [
        {
          "type": "image_picker",
          "label": "Imagen",
          "id": "image"
        },
        {
          "type": "text",
          "label": "Texto alternativo (alt)",
          "id": "alt_text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<script>
  $(document).ready(function () {
    var swiper = new Swiper('.swiper-home', {
      loop: true,
      slidesPerView: 2,
      spaceBetween: 0,
      speed: 1000, // duración de la transición (1s)
      autoplay: {
        delay: 1000, // cada 1.5s
        disableOnInteraction: false,
      },
      breakpoints: {
        0: {
          slidesPerView: 1,
        },
        768: {
          slidesPerView: 2,
        },
      },
    });

    // Hace que el autoplay empiece casi de inmediato
    setTimeout(() => {
      swiper.slideNext();
      swiper.autoplay.start();
    }, 100); // empieza 0.1s después de cargar
  });
</script>


